// Customer HomePage NavBar 
.homepage-navbar {
    background-color: $primary_color;
    padding: 20px 0px;

    .container-flex {
        @include flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .deliveboo-logo {
        width: 20%;
        margin-bottom: 10px;
    }

    .search-bar {
        width: 50%;
        text-align: center;

        input {
            width: 100%;
            border: none;
            border-radius: 5px;
            padding-left: 5px;

            &:focus {
                outline: none;
            }

            &::placeholder {
                margin: 0 auto;
            }
        }
    }

    .login-register {
        width: 30%;
        text-align: right;
        padding-right: 20px;

        .access-buttons {
            background-color: white;
            padding: 10px 20px;
            font-style: oblique;
            margin-left: 10px;
            border-radius: 10px;
            color: $primary_color;
            font-weight: bold;

            &:nth-child(1) {
                margin-left: 0px;
            }
        }

        a:hover {
            text-decoration: none;
        }
    }

    .burger-menu {
        display: none;
    }

    // NavBar Media Queries for tablets
    @media screen and (max-width: 768px) {
        .burger-menu {
            text-align: right;
            display: block;
            font-size: 25px;
            color: white;
            width: 10%;
        }

        .login-register {
            display: none;
        }

        .logout-dropdown {
            display: none;
        }

    }

    // NavBar Media Queries for small devices
    @media screen and (max-width: 576px) {
        .search-bar {
            width: 40%;
        }

        .burger-menu {
            width: 20%;
            padding-right: 20px;
        }

        .deliveboo-logo {
            font-size: 20px;
            width: 40%;
            text-align: center;
        }
    }

    @media screen and (max-width: 375px) {
        .burger-menu {
            width: 15%;
            padding-left: 20px;
        }

        .deliveboo-logo {
            width: 45%;
        }

        .search-bar {
            width: 40%;
        }
    }
}

// Customer Home Page Restaurant Menu Component
.restaurant-menu-page-show {
    .menu-jumbotron {
        height: 300px;
        margin-bottom: 180px;
        position: relative;

        .menu-info-card {
            color: white;
            font-style: oblique;
            background-color: $primary-color;
            position: absolute;
            top: 100%;
            left: 25%;
            transform: translate(-50%, -50%);
            margin: 0 auto;
            text-align: center;
            padding: 5% 10%;

            p, span {
                font-size: 18px;
            }

            h5 {
                padding: 20px 0px;
            }
        }

        .cart {
            color: white;
            font-style: oblique;
            text-align: center;
            font-size: 24px;
            cursor: pointer;
        }

        .container-flex {
            padding: 15px 25px 0px 25px;
            @include flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    .menu-sections {
        max-width: 1300px;
        margin: 0 auto;

        .container-flex {
            @include flex;
            justify-content: space-between;
        }

        h2 {
            font-weight: bold;
            margin-top: 50px;
        }

        .food-card {
            @include flex;
            padding: 5px;
            width: calc(100% / 2 - 20px);
            background-color: white;
            border: 1px solid black;

            img {
                width: 200px;
            }

            .food-card-info {
                padding-left: 10px;

                .food-card-button {
                    background-color: $primary-color;
                    border-radius: 5px;
                    color: white;
                    font-weight: bold;
                    font-style: oblique;
                    border: none;
                    padding: 4px 25px;
                }

                .food-card-price-button {
                    padding-top: 20px;
                    text-align: right;

                    .food-card-price {
                        padding-right: 10px;
                        color: #12A20B;
                    }
                }
            }
        }
    }
}

// Deliveboo & Developers Infos
.infos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    > * {    
        max-width: 300px;
        padding: 1em;
        text-align: center;
        .title {
            color: $primary-color;
            font-size: 1.75em;
        }
    }
}