.edit-restaurant-container {
    text-align: center;
    margin-bottom: 10vh;

    h1 {
        color: $text_color;
    }

    label {
        font-size: 18px;
    }

    .form-check {
        .form-check-label {
            font-size: 15px;
            vertical-align: middle;
        }
    }

    .restaurant-form {
        justify-content: center;
    }

    .margin_auto {
        margin: auto;
        
        #cover {
            text-align: left;
        }
    }

    .restaurant-type {
        @include flex;
        flex-wrap: wrap;
        width: 56%;
        margin: auto;

        .form-check {
            width: calc(100% / 5);
        }

    }

    .done-button {
        background-color: $primary_color;
        width: 100%;
        
        &:hover {
            background-color: $primary_color;
        }
    }

    // NavBar Media Queries for medium devices
    @media screen and (max-width: 992px) {
        .restaurant-type {
            max-width: 45%;
            .form-check {
                width: calc(100% / 2);
                padding-left: 0px;
            }
        }
    }

    // NavBar Media Queries for tablets
    @media screen and (max-width: 768px) {
        .restaurant-type {
            max-width: 50%;
        }
    }

    // NavBar Media Queries for small devices
    @media screen and (max-width: 576px) {
        .restaurant-type {
            max-width: 100%;
            justify-content: space-between;

            .form-check {
                width: calc(100% / 2 - 25px)
            }
        }
    }
}