/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

/* List and Links Reset */
li {
    list-style-type: none;
}

a {
    color: $green;
    text-decoration: none;
}